//main: ..//style.less

@media (max-width:1024px){
    .header{
        height: 750px;
    }
}

@media (max-width:768px) {
    .together__evanorm{
        .together_wrapper {
            flex-direction: column;
        }
    } 
}
@media (max-width:426px){
    .header{
        background-position: unset;
        .header__wrapper{
            flex-direction: column;
           
            .header__tabletka {
                display: none;
            }
        }
    }
    .why{
        .why__header{
            h3{
                font-size: 15px;
            }
        }
        
        .why__wrapper{
            width: 400px;
            flex-direction: column;
            margin-top: 0px;
        }
    }
    .why__finish{
        font-size: 18px;
    }
    .bg4{
        margin-top: -65px;
        background:none;
    }
    
    .kept{
        .kept__header{
            h3{
                font-size: 20px;
            }
        }
        .kept__wrapper{
            width: 400px;
            .kept__list{
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .b6{
        .b6__header{
            h2{
                font-size: 25px;
            }
        }
    }
}

@media (max-width:376px){
    .header{
        background-position: unset;
        .header__wrapper{
            flex-direction: column;
           
            .header__tabletka {
                display: none;
            }
        }
    }
    .together__evanorm{
        .together_wrapper{
            .together_block{
                padding: 70px 0;
            }
        }
    }
    .why{
        margin-top: -65px;
        .why__header{
            h3{
                font-size: 15px;
            }
        }
        
        .why__wrapper{
            width: 350px;
            flex-direction: column;
            margin-top: 0px;
        }
    }
    .why__finish{
        font-size: 18px;
    }

    
    .kept{
        .kept__header{
            h3{
                font-size: 20px;
            }
        }
        .kept_boxpicture{ 
            .kept__picture{
                img{
                    height: 260px;  
                }
          
        }}
       
        .kept__wrapper{
            width: 350px;
        }
    }
    .form{
        max-width: 375px;

    }
    footer{
        .footer__wrapper{
        .footer__picture{
            img{
                height: 260px;
            }
        }
    } 
        }

}

